/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
  --header-height: 3.5rem;

  /* ========= Colors ======== */
  /* color mode HSL(hue, saturation, lightness */
  --first-color: hsl(207, 65%, 65%);
  --title-color: hsl(207, 4%, 16%);
  --text-color: hsl(207, 4%, 28%);
  --text-color-light: hsl(207, 4%, 56%);
  --body-color: hsl(207, 4%, 99%);
  --container-color: hsl(207, 4%, 95%);
  --nxt-prev-btnsBackground: hsla(174, 65%, 55%, 1);
  --slider-popupBG-color: hsl(207, 4%, 90%);
  --fraction-color: hsl(30, 16%, 50%);

  /* change the first number */
  /* Blue: 207 - Purple: 250 - Pink: 365 - Teal: 174 */
  --gradient-color: linear-gradient(180deg,
                      hsla(174, 48%, 72%, 0),
                      hsla(174, 65%, 65%, 1));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --title-font: 'Roboto', sans-serif;
  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;


  /* =========== z index ========== */
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}
  
  /* Responsive typography */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background .4s; /* for dark theme mode animation */
}
h1, h2, h3{
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-medium);

    /* color: var(--title-color-light-theme); */
}
  
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

/* =============== THEME =============== */
.nav__buttons{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color) !important;
    cursor: pointer;
    transition: color .3s;
}

/* =============== VARIABLE DARK THEME =============== */
body.dark-theme {
    --title-color: hsl(207, 4%, 95%);
    --text-color: hsl(207, 4%, 65%);
    --body-color: hsl(207, 4%, 10%);
    --container-color: hsl(207, 4%, 12%);
    /* --slider-popupBG-color: hsl(207, 4%, 15%); */
}

/* =============== COLOR CHANGES IN SOME PARTS OF THE WEBSITE, 
                    IN  LIGHT THEME =============== */

.dark-theme .nav,
.dark-theme .nav__menu,
.dark-theme .scrollup,
.dark-theme .mySwiper,
.dark-theme .language__main-contain{
    background-color: var(--container-color);
    box-shadow: 0 4px 20px hsla(207, 24%, 8%, .4);
}

.dark-theme .home__shape-waves,
.dark-theme .home__shape-circle,
.dark-theme .qualification__img{
    filter: invert(1);
}

.dark-theme .home__social-link{
    color: var(--title-color);
}

.dark-theme .section__border{
    border-bottom: 1px solid hsl(207, 4%, 32%);
}

.dark-theme::-webkit-scrollbar{
    background-color: hsl(207, 4%, 15%)
}

.dark-theme::-webkit-scrollbar-thumb{
    background-color: hsl(207, 4%, 25%)
}

.dark-theme::-webkit-scrollbar-thumb:hover{
    background-color: hsl(207, 4%, 35%)
}

/* =============== REUSABLE CSS CLASSES =============== */

.container {
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 2.5rem;
}

.section__border{
    border-bottom: 1px solid var(--title-color);
    padding-bottom: 3.5rem;
}

.section__title,
.section__subtitle{
    text-align: center;
}

.section__title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}

.section__subtitle{
    display: block;
    font-size: small;
    color: var(--text-color-light);
    /* margin-bottom: 3rem; */
}

.main{
    overflow: hidden; /* for animation */
}

/* =============== HEADER & NAV =============== */
.header{
    width: 100%;
    position: fixed;
    top: 2rem;
    left: 0;
    z-index: var(--z-fixed);
}

.nav{
    height: calc(var(--header-height) + .5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-color);
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
    padding-inline: 1.5rem;
    border-radius: 3rem;
    transition: background .4s; /* for dark theme animation */
}

.nav__logo,
.nav__toggle,
.nav__close{
    color: var(--title-color);
}

.nav__logo{
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
}

.nav__toggle{
    display: flex;
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 1023px){
    .nav__menu{
        position: fixed;
        width: 88%;
        left: 0;
        right: 0;
        /* top: 2rem; */
        top: -60%;
        margin: 0 auto;
        background-color: var(--body-color);
        box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
        padding: 3rem 1.5rem 2rem;
        border-radius: 2rem;
        transition: top .4s;
    }
    
}

.nav__list{
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    grid: 2rem 3rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    transition: color .3s;
}

.nav__link:hover{
    color: var(--title-color);
}

.nav__link i{
    font-size: 1.25rem;
}

.nav__close{
    position: absolute;
    right: 1.5rem;
    top: .7rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Show Menu for js */
.show-menu{
    top: 2rem; 
}

/* Acrtive link */
.active-link{
    color: var(--title-color);
}
  
  
/* gallery */
.mygallery{
  margin-top: 60px;
}

.gallery{
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
}

.gallery__card{
    position: relative;
    width: 900px;
    height: 635px;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    transition: all .4s;
    cursor: grab;
}

.gallery__img, 
.gallery__card::after, 
.gallery__data {
  position: absolute;
}

.gallery__img {
  inset: 0;
  margin: auto;
  transition: transform .3s;
}

.gallery__card::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
                hsla(0, 0%, 100%, 0) 32%,
                hsla(0, 0%, 0%, .3) 100%);
    top: 0;
    z-index: 1;
}

.gallery__data {
    bottom: 3rem;
    left: 2.5rem;
    z-index: 10;
}

.gallery__title{
  color: white;
  font-weight: 500;
}

.gallery__title {
    font-size: var(--h3-font-size);
}

.gallery__overflow {
    position: relative;
}

.gallery__thumbnail {
    position: relative;
    width: 100px;
    height: 70px;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: transform .3s;
    transition: all .4s;
}

.gallery__thumbnail-img {
    position: absolute;
    inset: 0;
    margin: auto;
}

/* Swiper class */
.gallery-cards,
.gallery-thumbs {
  width: 900px;
  transition: all .4s;
}

/* .gallery-cards:hover .gallery__img {
    transform: scale(1.1);
} */
    
.gallery .swiper-wrapper {
    padding: 2.5rem 0;
}

.gallery-thumbs {
    height: 132px;
}

/* Active thumbnail */
.swiper-slide-active .gallery__thumbnail {
    transform: translateY(-1.25rem) scale(1.2);
}

/* Rotate thumbnail */
.swiper-slide-next .gallery__thumbnail {
  transform: rotate(15deg);
}

.swiper-slide-prev .gallery__thumbnail {
  transform: rotate(-15deg);
}

/* Sliding numbers */
.swiper-pagination-fraction{
  font-size: var(--small-font-size);
  letter-spacing: -1px;
  font-weight: 500;
  color: var(--fraction-color);
  bottom: 0;
}

/* Arrow buttons */
#swiper-next::after,
#swiper-prev::after {
  content: '';
}

#swiper-next,
#swiper-prev {
  font-size: 1.5rem;
  color: var(--text-color-black);
  top: 5.5rem;
}

#swiper-next {
  right: -1.5rem;
  transform: rotate(15deg);
}

#swiper-prev {
  left: -1.5rem;
  transform: rotate(-15deg);
}

/* ================= FOOTER =================== */

.footer__container{
  padding: 3rem 0 7rem;
  text-align: center;
}

.footer__title{
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem; 
}

.footer__list,
.footer__social{
  display: flex;
  justify-content: center;
}

.footer__list{
  margin: 2.5rem;
  column-gap: 2.5rem;
}

.footer__link{
  color: var(--title-color);
}

.footer__link:hover{
  text-decoration: underline;
}

.footer__social{
  column-gap: 1.25rem;
}

.footer__social-links{
  font-size: 1.25rem;
  color: var(--title-color);
  transition: transform .3s;
}

.footer__social-links:hover{
  transform: translateY(-.15rem);
}

.footer__copy{
  display: block;
  margin-top: 4.5rem;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/* ================= SCROLL BAR =================== */
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(207, 4%, 75%);
}

::-webkit-scrollbar-thumb{
  background-color: hsl(207, 4%, 65%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(207, 4%, 55%);
}



/* For small devices */
@media screen and (max-width: 970px) {
  .mygallery{
    margin-top: 100px;
  }
  .gallery__card {
    width: 700px;
    height: 490px;
  }
  .gallery__thumbnail {
    width: 100px;
    height: 70px;
    border-radius: 10px;
  }
  .gallery-cards,
  .gallery-thumbs {
    width: 700px;
  }
}

@media screen and (max-width: 751px){
  .gallery__card {
    width: 500px;
    height: 350px;
  }
  .gallery__thumbnail {
    width: 80px;
    height: 60px;
    border-radius: 10px;
  }
  .gallery-cards,
  .gallery-thumbs {
    width: 500px;
  }
  .gallery__title{
    font-size: .900rem;
  }
}

@media screen and (max-width: 538px){
  .gallery__card {
    width: 400px;
    height: 280px;
  }
  .gallery__thumbnail {
    width: 70px;
    height: 50px;
    border-radius: 10px;
  }
  .gallery-cards,
  .gallery-thumbs {
    width: 400px;
  }
}

@media screen and (max-width: 440px){
  #swiper-next,
  #swiper-prev {
    display: none;
  }
  .gallery__card {
    width: 320px;
    height: 228px;
  }
  .gallery__thumbnail {
    width: 70px;
    height: 50px;
    border-radius: 10px;
  }
  .gallery-cards,
  .gallery-thumbs {
    width: 320px;
  }
}

@media screen and (max-width: 300px){
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .gallery__card {
    width: 250px;
    height: 175px;
  }
  .gallery__thumbnail {
    width: 60px;
    height: 40px;
    border-radius: 5px;
  }
  .gallery-cards,
  .gallery-thumbs {
    width: 250px;
  }
}

@media screen and (max-width: 340px) {
  .container{
      margin-inline: 1rem;
  }

  .nav__menu{
      padding-bottom: 2.5rem;
  }

  .nav__list{
      gap: 1rem 1.25rem;
  }
}

@media screen and (min-width: 576px) {
  nav,
  .nav__menu{
      width: 380px;
  }

  .nav{
      margin: 0 auto;
  }
}

@media screen and (min-width: 1023px) {
  .header{
      top: 0;
      bottom: initial;
      background-color: var(--body-color);
      transition: .4s;
  }

  .nav{
      width: initial;
      height: calc(var(--header-height) + 1.5rem);
      border-radius: 0;
      box-shadow: none;
      column-gap: 3rem;
      margin-inline: 1.5rem;
      padding: 0;
  }

  .nav__link i,
  .nav__toggle,
  .nav__close{
      display: none;
  }

  .nav__menu{
      background-color: var(--body-color);
      width: initial;
      margin-left: auto;
      transition: background .4s;
  }

  .nav__list{
      display: flex;
      column-gap: 3rem;
  }

  .nav__link{
      font-size: var(--normal-font-size);
  }

  .dark-theme .nav,
  .dark-theme .nav__menu{
      background-color: var(--body-color);
      box-shadow: none;
  }

  .change-theme{
      color: var(--text-color-light);
  }

  .change-theme:hover{
      color: var(--title-color);
  }

  .footer__container{
    padding: 4rem 0 3rem;
}
.footer__list{
    column-gap: 3rem;
    margin: 3rem 0;
}
.footer__social{
    column-gap: 2rem;
}
.footer__social-links{
    font-size: 1.5rem;
}
.footer__copy{
    margin-top: 5rem;
}

  /* Change background header */
  .bg-header{
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, .2);
}

.dark-theme .bg-header{
    box-shadow: 0 6px 24px hsla(207, 24%, 8%, .6);
}
}

@media screen and (min-width: 1048px) {
  .container{
      margin-inline: auto;
  }
}

@media screen and (min-width: 1370px) {
  .container{
      min-width: 1300px;
  }
}



























/* For medium devices */
/* @media screen and (min-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .gallery__card {
    width: 320px;
    height: 228px;
  }
  .gallery__thumbnail {
    width: 70px;
    height: 50px;
    border-radius: 10px;
  }
  .gallery-cards,
  .gallery-thumbs {
    width: 320px;
  }
} */

























































