/* =============== GOOGLE FONTS ============== */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
 

/* =============== VARIABLE CSS ============== */
:root{
    --header-height: 3.5rem;

    /* ========= Colors ======== */
    /* color mode HSL(hue, saturation, lightness */
    --first-color: hsl(207, 65%, 65%);
    --title-color: hsl(207, 4%, 16%);
    --text-color: hsl(207, 4%, 28%);
    --text-color-light: hsl(207, 4%, 56%);
    --body-color: hsl(207, 4%, 99%);
    --container-color: hsl(207, 4%, 95%);
    --nxt-prev-btnsBackground: hsla(174, 65%, 55%, 1);
    --slider-popupBG-color: hsl(207, 4%, 90%);

    /* change the first number */
    /* Blue: 207 - Purple: 250 - Pink: 365 - Teal: 174 */
    --gradient-color: linear-gradient(180deg,
                        hsla(174, 48%, 72%, 0),
                        hsla(174, 65%, 65%, 1));

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --title-font: 'Roboto', sans-serif;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;


    /* =========== z index ========== */
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* === Responsive Typography ===*/
@media screen and (min-width: 1024px) {
    :root{
        --biggest-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --tiny-font-size: .688rem;
    }
}

/* =============== BASE =============== */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background .4s; /* for dark theme mode animation */
}
h1, h2, h3{
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-medium);

    /* color: var(--title-color-light-theme); */
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

/* =============== THEME =============== */
.nav__buttons{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: color .3s;
}

/* =============== VARIABLE DARK THEME =============== */
body.dark-theme {
    --title-color: hsl(207, 4%, 95%);
    --text-color: hsl(207, 4%, 65%);
    --body-color: hsl(207, 4%, 10%);
    --container-color: hsl(207, 4%, 12%);
    /* --slider-popupBG-color: hsl(207, 4%, 15%); */
}

/* =============== COLOR CHANGES IN SOME PARTS OF THE WEBSITE, 
                    IN  LIGHT THEME =============== */

.dark-theme .nav,
.dark-theme .nav__menu,
.dark-theme .scrollup,
.dark-theme .mySwiper,
.dark-theme .language__main-contain{
    background-color: var(--container-color);
    box-shadow: 0 4px 20px hsla(207, 24%, 8%, .4);
}

.dark-theme .home__shape-waves,
.dark-theme .home__shape-circle,
.dark-theme .qualification__img{
    filter: invert(1);
}

.dark-theme .home__social-link{
    color: var(--title-color);
}

.dark-theme .section__border{
    border-bottom: 1px solid hsl(207, 4%, 32%);
}

.dark-theme::-webkit-scrollbar{
    background-color: hsl(207, 4%, 15%)
}

.dark-theme::-webkit-scrollbar-thumb{
    background-color: hsl(207, 4%, 25%)
}

.dark-theme::-webkit-scrollbar-thumb:hover{
    background-color: hsl(207, 4%, 35%)
}

/* =============== REUSABLE CSS CLASSES =============== */

.container {
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 2.5rem;
}

.section__border{
    border-bottom: 1px solid var(--title-color);
    padding-bottom: 3.5rem;
}

.section__title,
.section__subtitle{
    text-align: center;
}

.section__title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}

.section__subtitle{
    display: block;
    font-size: small;
    color: var(--text-color-light);
    margin-bottom: 3rem;
}

.main{
    overflow: hidden; /* for animation */
}

/* =============== HEADER & NAV =============== */
.header{
    width: 100%;
    position: fixed;
    top: 2rem;
    left: 0;
    z-index: var(--z-fixed);
}

.nav{
    height: calc(var(--header-height) + .5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-color);
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
    padding-inline: 1.5rem;
    border-radius: 3rem;
    transition: background .4s; /* for dark theme animation */
}

.nav__logo,
.nav__toggle,
.nav__close{
    color: var(--title-color);
}

.nav__logo{
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
}

.nav__toggle{
    display: flex;
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 1023px){
    .nav__menu{
        position: fixed;
        width: 88%;
        left: 0;
        right: 0;
        /* top: 2rem; */
        top: -70%;
        margin: 0 auto;
        background-color: var(--body-color);
        box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
        padding: 3rem 1.5rem 2rem;
        border-radius: 2rem;
        transition: top .4s;
    }
    
}

.nav__list{
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    grid: 2rem 3rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    transition: color .3s;
}

.nav__link:hover{
    color: var(--title-color);
}

.nav__link i{
    font-size: 1.25rem;
}

.nav__close{
    position: absolute;
    right: 1.5rem;
    top: .7rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Show Menu for js */
.show-menu{
    top: 2rem; 
}

/* Acrtive link */
.active-link{
    color: var(--title-color);
}

/*=============== HOME ===============*/
/* .home{
    padding-block: 8rem !important;
    padding: 8rem 0rem 0rem 0rem !important;
} */


/* ========= Color change text animation Start ====== */
.color__change{
    color: hsla(250, 65%, 65%, 1);
}

.home__title .color__change-profession{
    position: relative;
    transition: background .4s;
}

.home__title .color__change-profession::before{
    content: "Web Developer.";
    color: hsla(250, 65%, 65%, 1);
    animation: words 20s infinite;
    transition: background .4s;
}

.home__title .color__change-profession::after{
    content: "";
    background-color: var(--body-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid hsla(250, 65%, 65%, 1);
    right: -6px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
    transition: background .4s;
}

@keyframes cursor{
    to{
        border-left: 2px solid hsla(250, 65%, 95%, 1);
    }
}

@keyframes words {
    0%,20%{
        content: "Web Developer.";
    }
    21%,40%{
        content: "Graphic Designer.";
    }
    41%,60%{
        content: "Web Developer.";
    }
    61%,80%{
        content: "Graphic Designer.";
    }
    
}

@keyframes typing{
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}
/* ========= Color change text animation End ====== */

#particles-js{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.home__container{
    row-gap: 4rem;
    padding-top: 5rem;
}

.home__data{
    row-gap: 1.5rem;
}

.home__title{
    text-align: center;
    font-size: var(--biggest-font-size);
    letter-spacing: .3px;
    margin-bottom: .5rem;
}

.home__title .kaushan{
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-size: 1.8rem;
}

.home__blob{
    position: relative;
    width: 200px;
    height: 290px;
    background-color: var(--body-color);
    border: 2px solid var(--text-color-light);
    justify-self: center;
    border-radius: 6.25rem;
    place-items: center;
    transition: background .4s; /* for dark theme animation */
}
  
.home__perfil{
    width: 170px;
    height: 260px;
    background: var(--gradient-color);
    border-radius: 5.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.home__perfil img{
    width: 150px;
    margin-top: 20px;
    margin-left: 15px;
}

.home__shape-circle,
.home__shape-waves{
    position: absolute;
    opacity: .1;
}

.home__shape-waves{
    width: 50px;
    left: -1.5rem;
    top: 5rem;
}

.home__shape-circle{
    width: 150px;
    bottom: -2rem;
    right: -3rem;
    transform: rotate(15deg);
    z-index: -1;
}

.home__social{
    justify-self: center;
    display: flex;
    column-gap: 1.25rem;
}

.home__social-link{
    font-size: 1.35rem;
    color: var(--text-color-light);
    transition: color .3s;
}

.home__social-link:hover{
    color: var(--title-color) !important;
}

.dark-theme .home__social-link:hover{
    color: var(--text-color-light) !important;
}

.home__social-link:hover{
    animation: bounce-socialicon .6s;
}

@keyframes bounce-socialicon{
    0%{
        transform: translate(0);
    }
    20%{
        transform: translateY(-6px);
    }
    40%{
        transform: translate(0);
    }
    60%{
        transform: translateY(-3px);
    }
    80%{
        transform: translate(0);
    }

}

.home__info{
    display: grid;
    row-gap: 2rem;
}

.home__info-title{
    font-family: var(--title-font);
    font-size: var(--smaller-font-size);
    font-weight: 400;
    color: var(--text-color-light);
    margin-bottom: 1rem;
}

.cv{
    font-size:var(--h3-font-size) !important;
}

.home__info-cv{
    border: none;
    background: linear-gradient(-15deg, hsla(174, 48%, 72%, .2), hsla(174, 65%, 55%, 1));
    outline: none;
    padding: 10px 15px;
    border-radius: 50px;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    column-gap: .2rem;
}

.home__info-cv i{
    font-weight: initial;
    font-size: 1rem;
    color: var(--title-color);
}

.home__info-cv a{
    color: var(--title-color);
    font-size: var(--smaller-font-size);
    font-family: var(--body-font);
    font-weight: var(--font-medium);
}

.home__info-description,
.home__info-service{
    font-family: var(--body-font);
    color: var(--title-color);
}

.home__info-description{
    padding-right: 4rem;
}

.about-paragraph{
    font-size:var(--small-font-size);
    text-align:justify;
}

/*=============== SKILLS ===============*/
.skills__container{
    row-gap: 3.5rem;
}
.skills__title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}

.skills__title i{
    font-size: 1rem;
    font-weight: initial;
}

.skills__info,
.skills__data,
.skills__blob{
    display: grid;
}

.skills__info{
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 2rem;
}

.skills__data{
    justify-content: center;
    text-align: center;
    /* align-items: center; */
}

.skills__blob{
    width: 80px;
    height: 100px;
    background-color: var(--container-color);
    border-radius: 3rem;
    place-items: center;
    margin-bottom: 1rem;
    justify-self: center;
    transition: background .4s; /* for dark theme animation */
}

.skills__blob img{
    width: 40px;
}

.skills__name{
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.skills__subtitle{
    font-size: var(--tiny-font-size);
    color: var(--text-color-light);
}

/* Animation Skills */
.skills__blob:hover img{
    animation: bounce-skills .6s;
}

@keyframes bounce-skills{
    0%{
        transform: translate(0);
    }
    20%{
        transform: translateY(-6px);
    }
    40%{
        transform: translate(0);
    }
    60%{
        transform: translateY(-3px);
    }
    80%{
        transform: translate(0);
    }

}

/*=============== QUALIFICATION ===============*/
.qualification{
    position: relative;
}

.qualification__container{
    row-gap: 3.5rem;
}

.qualification__title{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2rem;
}

.qualification__title i{
    font-size: 1rem;
    font-weight: initial;
}

.qualification__info{
    display: grid;
    row-gap: 2rem;
}

.qualification__name{
    font-size: var(--normal-font-size);
    margin-bottom: 1.25rem;
}

.qualification__year,
.qualification__place{
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.qualification__place{
    margin-bottom: .75rem;
}

.qualification__img{
    width: 150px;
    position: absolute;
    right: -3rem;
    bottom: 25rem;
    transform: rotate(15deg);
    opacity: .1;
}

/* ====================== LANGUAGE =================== */
.language__contain{
    width: 100%;
    height: 100%;
}

.language__title{
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
}

.language__contain:not(:first-child){
    padding-top: 1rem;
}

.language__main-contain{
    position: relative;
    width: 100%;
    height: 11px;
    background-color: var(--container-color);
    box-shadow: 0 4px 12px hsl(207, 24%, 35%, .20);
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin-top: 3px;
    transition: background .4s; /* for dark theme animation */
}

.lan{
    position: relative;
    background: linear-gradient(145deg,hsla(174, 48%, 72%, .3),hsla(174, 65%, 65%, 1));
    height: 60%;
    text-align: right;
    margin-left: 3px;
    border-radius: 100px;
}

.language__contain .number{
    position: absolute;
    bottom: 1rem;
    width: fit-content;
    color: var(--text-color-light);
}

.bengali{
    width: 99%;
}

.bngper{
    left: 90%;
}

.hindi{
    width: 70%;
}


.hinper{
    left: 64%;
}

.english{
    width: 40%;
}

.engper{
    left: 33%;
}

/* ================== SERVICES =============== */
.services__container{
    row-gap: 2.5rem;
    justify-content: center;
}

.services__card{
    position: relative;
    width: 228px;
    height: 322px;
    background-color: var(--container-color);
    padding: 3.5rem 1rem;
    text-align: center;
    border-radius: 7.25rem;
    cursor: pointer;
    transition: background .4s; /* for dark theme animation */
}

.services__card i{
    display: block;
    font-size: 2rem;
    margin-bottom: .75rem;
    color: var(--title-color);
    transition: transform .8s;
}

.services__title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1.5rem;
}

.services__description{
    font-size: var(--small-font-size);
}

.services__border{
    width: 248px;
    height: 342px;
    border: 1.8px solid var(--text-color-light);
    border-radius: 7.75rem;
    position: absolute;
    inset: 0;
    left: -10px;
    margin: auto;
    z-index: -1;
    transition: opacity .6s;
    opacity: 0.1;
}

.services__card:hover i{
    transform: rotateY(360deg);
}

.services__card:hover .services__border{
    opacity: 1;
}

/*=============== PROJECTS ===============*/
.projects__container{
    row-gap: 3.5rem;
    justify-content: center;
}


.projects__title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}

.projects__title i{
    font-size: 1rem;
    font-weight: initial;
}

.projects__info,
.projects__data,
.projects__blob{
    display: grid;
}

.projects__info{
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 2rem;
    position: relative;
}

.projects__data{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--container-color);
    box-shadow: 0 4px 12px hsl(207, 24%, 35%, .20);
    border-radius: .625rem;
    padding: 1.5rem 1.25rem;
    max-width: 400px;
    min-height: auto;
    min-width: 270px;
    cursor: pointer;
    transition: background .4s; /* for dark theme animation */
}

.dark-theme .projects__data{
    box-shadow: rgba(16, 21, 25, 0.4) 0px 4px 20px;
}

@media screen and (max-width: 900px) {
    .projects__info{
        grid-template-columns: repeat(1, 1fr);
    }
    .projects__data{
        background-color: var(--container-color); 
        max-width: 600px;
        /* max-height: auto; */
        min-height: auto;
        min-width: 270px;
    }
}

.projects__border{
    position: absolute;
    width: 100%;
}

.projects__blob{
    width: 100%;
    height: auto;
    place-items: center;
    margin-bottom: 1rem;
    justify-self: center;
}


.projects__blob img{
    width: 100%;
    height: 100%;
    /* margin-top: 1rem; */
    border-radius: .625rem;
    transition: all ease .5s;
    
}

.projects__blob{
    overflow: hidden;
    border-radius: .625rem;
}

.projects__blob:hover img{
    scale: 1.2;
    overflow: hidden;
}

.projects__name{
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.projects__subtitle{
    font-size: var(--tiny-font-size);
    color: var(--text-color-light);
}

/* ---------------- POPUP SLIDER ----------------- */

#overlay__blur{
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 9998;
    display: none;
}

#overlay__blur.active{  
    display: block;
}

#popup__close-btn{
	position: absolute;
	font-size: 1.875rem;
	right: -0.125rem;
	top: -2rem;
	z-index: 4;
	cursor: pointer;
	color: var(--text-color-light);
    transition: width 0.5s;
}


.overlay__swiper{
    width: 60%;
    height: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* overflow: hidden; */
    z-index: 9999;
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
}

.overlay__swiper.active{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
}


.swiper{
    width: 100%;
    height: 100%;
    transition: width 0.5s;
}

.mySwiper{
    padding: 1.875rem;
    background-color: var(--slider-popupBG-color);
    width: 100%;
    position: relative;
    height: 100%;
    border-radius: 0.625rem;
    overflow: hidden;
    z-index: 3;
    transition: width 0.5s;
}

.swiper-slide{
    font-size: 1.125rem;
    background-color: #fff;
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: .625rem;
    gap: 1.875rem;
    width: 100%;
    height: 100%;
    flex-direction: row;
    cursor: grab;
    transition: width 0.5s;
}

.slider__image{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    overflow: hidden;
    border-radius: 0.625rem;
    transition: width 0.5s;
}

.slide__img{
    width: 100%;
    height: 100%;
    border-radius: .625rem;
    object-fit: cover;
    object-position: center;
    transition: width 0.5s;
}

.slider__item-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    padding-bottom: 5rem;
    flex-direction: column;
    /* border: 1px solid red; */
    transition: width 0.5s;
    text-align: center;
}

.slider__item-content h3{
    color: var(--title-color);
    font-family: var(--title-font);
    transition: width 0.5s;
}

.dark-theme .slider__item-content h3{
    color: hsl(207, 4%, 16%);
}

.slider__item-content p{
    color: var(--text-color-light);
    transition: width 0.5s;
}

.preview__btns .live__Preview,.download__Code{
    padding: 0.938rem 1.25rem;
    margin: 0.625rem;
    border-radius: 0.625rem;
    border: none;
    background: linear-gradient(-15deg, hsla(174, 48%, 72%, .2), hsla(174, 65%, 55%, 1));
    color: var(--text-color);
    font-family: var(--body-font);
    font-weight: var(--font-medium);
    font-size: .8rem;
    cursor: pointer;
    transition: width 0.5s;
}

.preview__btns a{
    color: var(--text-color);
}

.slider__btns{
    position: absolute;
    display: flex;
    /* width: 100%; */
    flex-direction: row-reverse;
    gap: 3.5rem;
    right: 3.125rem;
    bottom: 3.125rem;
    justify-content: center;
    transition: width 0.5s;
}

.slider__btns i{
    color: var(--text-color-light);
    font-weight: initial;
    font-size: 1.563rem;
}

.swiper-button-next,
.swiper-button-prev{
    position: relative;
    background: var(--nxt-prev-btnsBackground);
    padding: 1.25rem 2.813rem;
    border-radius: 0.625rem; 
    transition: width 0.5s;
}

.swiper-button-next[class^="swiper-button-"]::after{
    content: "";
}

.swiper-button-prev[class^="swiper-button-"]::after{
    content: "";
}

.swiper-pagination-bullet-active {
    background-color: var(--nxt-prev-btnsBackground);
    width: 20px;
    border-radius: 10px;
}

.swiper-pagination-bullet{
    font-size: 5px;
    opacity: 1;
    display: inline-block;
    background-color: var(--nxt-prev-btnsBackground);
}

@media screen and (max-width: 1200px) {
	.overlay__swiper{
		width: 85%;
	}
}

@media screen and (max-width: 880px){
    .swiper-slide{
        flex-direction: column;
    }

    .slider__item-content{
        width: 100%;
        height: 100%;
        padding: 0.313rem;
    }

    .overlay__swiper{
        overflow: visible;
    }

    .mySwiper{
        overflow: visible;
    }

    .slider__item-content p{
        margin-top: 0.625rem;
    }

    .preview__btns{
        margin-top: 0.625rem;
    }

    .slider__btns{
        bottom: -3.75rem;
        right: inherit;
        width: 100%;
        left: 0.313rem;
	}
}

@media screen and (max-width: 500px) {
    .slider__item-content h3{
        color: var(--title-color);
        font-family: var(--title-font);
        font-size: var(--h3-font-size);
    }
    
    .slider__item-content p{
        color: var(--text-color-light);
        font-size: var(--small-font-size);
    }
    
    .preview__btns .live__Preview,.download__Code{
        padding: 0.625rem 0.938rem;
        margin: 0.313rem;
        font-size: .7rem;
    }
}


/* ================= CONTACT =================== */

.contact__container{
    row-gap: 3.5rem;
}

.contact__title{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
}

.contact__title i{
    font-size: 1rem;
    font-weight: initial;
}

.contact__info,
.contact__data,
.contact__form{
    display: grid;
}

.contact__info{
    row-gap: 2rem;
}

.contact__data{
    row-gap: .75rem;
}

.contact__data-title{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__data-info{
    font-size: var(--small-font-size);
    font-family: var(--title-font);
    color: var(--title-color);
}

.contact__button{
    width: max-content;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
}

.contact__button i{
    font-size: 1rem;
    transition: transform .3s;
}

.contact__button:hover i{
    transform: translateX(.25rem);
}

.contact__form{
    position: relative;
    row-gap: 2rem;
}

.contact__form-div{
    position: relative;
    height: 4rem;
}

.contact__form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color-light);
    border-radius: 2rem;
    padding: 1.5rem;
    font-size: var(--normal-font-size);
    font-family: var(--title-font);
    color: var(--title-color);
    background: none;
    outline: none;
    z-index: 1;
}

.contact__form-tag{
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    z-index: 10;
    background-color: var(--body-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    padding: .35rem;
    transition: background .4s; /* for dark theme animation */
}

.contact__form-area{
    height: 10rem;
}

.contact__form-area textarea{
    resize: none;
}

.contact__form .contact__button{
    border: none;
    background: none;
    font-size: var(--h2-font-size);
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    outline: none;
    margin-top: .75rem;
    color: var(--text-color);
}

.contact__form .contact__button i{
    font-size: 1.5rem;
    font-size: initial;
}

.contact__message{
    font-size: var(--small-font-size);
    position: absolute;
    bottom: 2.8rem;
    left: 1.5rem;
}

/* Status color */
.color-red{
    color: hsl(4, 71%, 50%);
}

.color-blue{
    color: hsl(207, 56%, 45%);
}

/* ================= FOOTER =================== */

.footer__container{
    padding: 3rem 0 7rem;
    text-align: center;
}

.footer__title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1rem; 
}

.footer__list,
.footer__social{
    display: flex;
    justify-content: center;
}

.footer__list{
    margin: 2.5rem;
    column-gap: 2.5rem;
}

.footer__link{
    color: var(--title-color);
}

.footer__link:hover{
    text-decoration: underline;
}

.footer__social{
    column-gap: 1.25rem;
}

.footer__social-links{
    font-size: 1.25rem;
    color: var(--title-color);
    transition: transform .3s;
}

.footer__social-links:hover{
    transform: translateY(-.15rem);
}

.footer__copy{
    display: block;
    margin-top: 4.5rem;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}


/* ================= SCROLL BAR =================== */
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(207, 4%, 75%);
}

::-webkit-scrollbar-thumb{
    background-color: hsl(207, 4%, 65%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: hsl(207, 4%, 55%);
}

/* ================= SCROLL UP ================ */
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: var(--body-color);
    box-shadow: 0 4px 12px hsl(207, 24%, 35%, .25);
    display: inline-flex;
    padding: .35rem;
    border-radius: .25rem;
    font-size: 1.1rem;
    color: var(--title-color);
    z-index: var(--z-tooltip);
    transition: background .4s, bottom .3s, transform .3s;
}

.scrollup:hover{
    transform: translateY(-.25rem);
}

/* Show Scroll Up */
.show-scroll{
    bottom: 4.5rem;
}


/* ================ BREAKPOINTS ================ */

/* FOR SMALL DEVICES */
@media screen and (max-width: 340px) {
    .container{
        margin-inline: 1rem;
    }

    .nav__menu{
        padding-bottom: 2.5rem;
    }

    .nav__list{
        gap: 1rem 1.25rem;
    }

    .skills__info{
        grid-template-columns: repeat(2, 1fr);
    }

    .mySwiper{
        padding: 1.35rem;
    }

    .slider__item-content{
        gap: 0.625rem;
    }

    .preview__btns .live__Preview, .download__Code{
        padding: 0.5rem 0.625rem;
        font-size: 0.563rem;
        margin: 0;
    }

    .swiper-button-next,
    .swiper-button-prev{
        padding: 0.625rem 30px;
        border-radius: 0.625rem; 
        font-size: 0.938rem;
    }

    .slider__btns i{
        font-size: 1rem;
    }
}

/* FOR MEDIUM DEVICES */
@media screen and (min-width: 576px) {
    nav,
    .nav__menu{
        width: 380px;
    }

    .nav{
        margin: 0 auto;
    }

    .skills__container{
        justify-content: center;
    }

    .projects__data{
        width: 400px;
    }

    .projects__container{
        overflow: hidden;
    }
}

@media screen and (min-width: 767px) {
    .home__container{
        grid-template-columns: 1fr 2fr 1fr;
    }

    .home__data{
        order: 2;
    }

    .home__info:nth-child(3){
        order: 3;
        text-align: right;
    }
    .home__info-cv{
        float: right;
    }

    .home__info{
        margin-top: 10rem;
    }

    .home__info-description{
        padding: 0;
    }

    .skills__container,
    .services__container,
    .contact__container{
        grid-template-columns: repeat(2, max-content);
    }

    .skills__container,
    .services__container{
        column-gap: 5rem;
    }

    .qualification__container{
        grid-template-columns: repeat(2, 250px);
    }

    .qualification__container{
        justify-content: center;
        column-gap: 7rem;
    }

    .contact__form{
        width: 360px;
    }

    .contact__container{
        justify-content: center;
        column-gap: 10rem;
    }

}

/* FOR LARGE DEVICES */
@media screen and (min-width: 1023px) {
    .header{
        top: 0;
        bottom: initial;
        background-color: var(--body-color);
        transition: .4s;
    }

    .nav{
        width: initial;
        height: calc(var(--header-height) + 1.5rem);
        border-radius: 0;
        box-shadow: none;
        column-gap: 3rem;
        margin-inline: 1.5rem;
        padding: 0;
    }

    .nav__link i,
    .nav__toggle,
    .nav__close{
        display: none;
    }

    .nav__menu{
        background-color: var(--body-color);
        width: initial;
        margin-left: auto;
        transition: background .4s;
    }

    .nav__list{
        display: flex;
        column-gap: 3rem;
    }

    .nav__link{
        font-size: var(--normal-font-size);
    }

    .dark-theme .nav,
    .dark-theme .nav__menu{
        background-color: var(--body-color);
        box-shadow: none;
    }

    .change-theme{
        color: var(--text-color-light);
    }

    .change-theme:hover{
        color: var(--title-color);
    }

    .section{
        padding-block: 5rem 0;
    }

    .home__title{
        font-size: 2.25rem;
    }
    .home__title .kaushan{
        font-size: 2rem;
    }

    /* Change background header */
    .bg-header{
        box-shadow: 0 4px 20px hsla(207, 24%, 35%, .2);
    }

    .dark-theme .bg-header{
        box-shadow: 0 6px 24px hsla(207, 24%, 8%, .6);
    }
    
}

@media screen and (min-width: 1048px) {
    .container{
        margin-inline: auto;
    }
}

@media screen and (min-width: 1200px) {
    .section__border{
        padding-bottom: 6rem;
    }

    .section__subtitle{
        margin-bottom: 5rem;
    }

    .home__title{
        font-size: var(--biggest-font-size);
    }

    .home__title .kaushan{
        font-size: 2.6rem;
    }

    .home__blob{
        width: 400px;
        height: 580px;
        border-radius: 12.5rem;
    }

    .home__perfil{
        width: 340px;
        height: 520px;
        border-radius: 10.6rem;
    }

    .home__perfil img{
        width: 300px;
    }

    .home__shape-waves{
        width: 100px;
        left: -4rem;
        top: 10rem;
    }

    .home__shape-circle{
        width: 250px;
        bottom: -1rem;
        right: -5rem;
    }

    .home__data{
        row-gap: 2.5rem;
    }

    .home__social{
        column-gap: 2rem;
    }

    .home__social-link{
        font-size: 1.5rem;
    }

    .home__info{
        grid-template-rows: repeat(2, 180px);
        row-gap: 4rem;
        margin-top: 16rem;
    }

    .skills__container{
        column-gap: 10rem;
    }

    .skills__title{
        margin-bottom: 3rem;
    }

    .skills__title i{
        font-size: 1.25rem;
    }

    .skills__name{
        font-size: var(--normal-font-size);
    }

    .skills__info{
        gap: 3rem;
    }

    .qualification__container{
        grid-template-columns: repeat(2, 320px);
    }

    .qualification__container{
        column-gap: 10rem;
    }

    .qualification__title{
        margin-bottom: 3rem;
    }
    .qualification__title i{
        font-size: 1.25rem;
    }
    .qualification__name{
        font-size: var(--h3-font-size);
    }
    .qualification__img{
        width: 300px;
        left: -6rem;
        bottom: 5rem;
    }

    .services__container{
        grid-template-columns: repeat(3, max-content);
    }
    .services__card{
        width: 245px;
        height: 345px;
        border-radius: 7.6rem;
        padding: 3.5rem 1.5rem;
    }
    .services__card i{
        font-size: 2.5rem;
    }
    .services__border{
        width: 265px;
        height: 365px;
        border-radius: 8.25rem;
    }

    .projects__info{
        column-gap: 7rem;
    }

    .contact__title{
        margin-bottom: 3rem;
    }
    .contact__title i{
        font-size: 1.25rem;
    }
    .contact__info{
        row-gap: 3rem;
    } 
    .contact__data-info{
        font-size: var(--normal-font-size);
    }
    .contact__form{
        row-gap: 2.5rem;
    }

    .footer__container{
        padding: 4rem 0 3rem;
    }
    .footer__list{
        column-gap: 3rem;
        margin: 3rem 0;
    }
    .footer__social{
        column-gap: 2rem;
    }
    .footer__social-links{
        font-size: 1.5rem;
    }
    .footer__copy{
        margin-top: 5rem;
    }
}


@media screen and (min-width: 1370px) {
    .container{
        min-width: 1300px;
    }

    .skills__container{
        column-gap: 15rem;
    }

    .skills__info{
        gap: 6rem;
    }

    .qualification__container{
        grid-template-columns: repeat(2, 480px);
    }

    .qualification__container{
        column-gap: 10rem;
    }

    .services__container{
        grid-template-columns: repeat(3, max-content);
    }
    .services__container{
        column-gap: 10rem;
    }
    .services__card{
        width: 245px;
        height: 345px;
        border-radius: 7.6rem;
        padding: 3.5rem 1.5rem;
    }
    .services__card i{
        font-size: 2.5rem;
    }
    .services__border{
        width: 265px;
        height: 365px;
        border-radius: 8.25rem;
    }

    .projects__data{
        min-width: 500px;
    }

    .contact__form{
        width: 600px;
    }

    .contact__container{
        justify-content: center;
        column-gap: 20rem;
    }
}







